/* Temel Sayfa Düzeni */
  
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Inter+Tight:wght@700&display=swap');

:root {
    --dark: #181825;
    --white: #fff;
    --primary: #3effe8;
    --secondary: #8c0fee;
    --font-size-global: 1.26rem;
    --line-height-global: 1.3;
    --letter-spacing-global: .1rem;
    --padding-global: clamp(0rem, 5vw, 2.5rem);
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background: rgb(0, 0, 0);
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Inter Tight', sans-serif;
    cursor: auto;
    /* cursor: none; */
}


/* Girişteki load animasyonu */


.load-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    color: white;
    z-index: 999;
}

/* Load animasyonundan sonra gelen 100% yazısı */

/* .loading {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 20px;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left, rgb(55, 55, 55), black);
}

.load-text {
    opacity: 0;
    font-family: 'Inter', sans-serif;
} */

/* Muse imleci*/

.cursor {
    height: calc(var(--vh, 1vh)*100);
    justify-content: center;
    align-items: center;
    display: none;
    position: absolute;
    z-index: 1;
}

.cursor-container {
    width: 100vw;
    height: calc(var(--vh, 1vh)*100)
}

.cursor-container g {
    transform-origin: 50%;
}

/* Slider */

.swiper {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    object-fit: cover;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.3s all ease-in-out;
    opacity: 1;
    background-color: transparent;
    transition: 0.5s all ease-in-out;
}

.swiper-slide-active{
    transition: 0.3s all ease-in-out;
    opacity: 1;
    background-color: transparent;
    left: 10%;
}

.swiper-slide:active{
   cursor: col-resize;
}

.slide-text{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    font-size: 50px;
    width: 100%;
    z-index: 3;
    position: absolute;
    height: auto;
    opacity: 1;
    background-color: transparent;
}

.swiper-slide h1{
    color: white;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    opacity: 1;
}

.swiper-slide-active h1 {
    color: white;
    -webkit-text-fill-color: white;
    opacity: 1;
}

.video-cont{
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-video-wrapper {
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
}

.back-video-wrapper video{
    width: 100%;
    height: 100%;
    border-radius: 0%;
    object-fit: cover;
}

.back-video-wrapper::after {
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    left: 0;
}

.swiper-slide .button--fenrir{
    visibility: hidden;
    
}

.swiper-slide-active .button--fenrir{
    visibility: visible;
}

.button {
	pointer-events: auto;
	cursor: pointer;
	background: #e7e7e7;
	border: none;
	padding: 1.5rem 3rem;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
}

.button::before,
.button::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.button--fenrir {
	background: none;
	padding: 0;
    color: white;
	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
	width: 120px;
	height: 120px;
	font-family: aktiv-grotesk-extended, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 0.85rem;
}

.progress {
	position: absolute;
	width: 80px;
	height: 80px;
	top: calc(50% - 40px);
	left: calc(50% - 40px);
	transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}

.button--fenrir:hover .progress {
	transform: scale3d(1.2, 1.2, 1);
}

.progress__circle,
.progress__path {
	fill: none;
	stroke: #f0f0f0;
	stroke-width: 1px;
}

.button--fenrir:focus-visible .progress__circle {
	fill: rgba(252,196,63,0.4);
}

.progress__path {
	stroke: #ff0000;
	stroke-dasharray: 1;
	stroke-dashoffset: 1;
	transition: stroke-dashoffset 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}

.button--fenrir:hover .progress__path {
	stroke-dashoffset: 0;
}
	

.header{
    top: 2%;
    width: 100%;
    height: auto;
    display: none;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    z-index: 4;
}

.menuu{
    position: relative;
    margin-top: 1%;
    top: 3%;
    right: 3%;
    cursor: pointer;
}

.menuu img{
    width: 50px;
}

.logo{
    position: relative;
    left: 3%;
    width: 150px;
}

/* .swiper-circle {
    overflow:hidden;
    border-radius: 50%;
    width: 25% !important;
    height: 50% !important;
}

.swiper-slide-active.swiper-active {
    width: 50% !important;
} */

/* .swiper-button-next, .swiper-button-prev{
    display: none; 
    width: calc(var(--swiper-navigation-size)/ 2.4 * 27) !important;
    
} */



.menu-cont{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: white;
}

.menu-item{
    border-radius: 50%;
    background-color: black;
    margin: 30px;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    cursor: pointer;
    width: 150px !important;
    height: 150px !important;
    z-index: 3;
    transition: all 0.4s;
}

.menu-item:hover{
    width: 225px !important;       
    height: 225px !important;
}

.menu-item:hover h1{
    opacity: 1;
}

.menu-item video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-item h1{
    position: absolute;
    opacity: 0;
}

.loadbutton{
    opacity: 0;
}

.tiny-cursor circle:last-child{
    fill: black ;
    
}

.footer{
    width: 100%;
    height: auto;
    background-color: transparent;
    z-index: 3;
    position: absolute;
    top: 93%;
    color: white;
    display: none;
    justify-content: space-between;
    align-items: center;
}

.cop{
    font-size: 10px;
    position: relative;
    left: 3%;
}

.music-wave{
    position: relative;
    right: 3%;
}

.sound-wave {
    display: flex;
}
.sound-bar {
    width: 2px;
    height: 2px;
    background-color: #ffffff;
    margin-right: 2px;
    transform: scaleY(1);
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
.sound-bar:nth-child(4n) {
    animation-name: bar-scale-xl;
    animation-duration: 1s;
}
.sound-bar:nth-child(4) {
    animation-duration: 1.15s;
}
.sound-bar:nth-child(3) {
    animation-name: bar-scale-lg;
    animation-duration: 0.8s;
}
.sound-bar:nth-child(6) {
    animation-name: bar-scale-md;
    animation-duration: 0.85s;
}
.sound-bar:nth-child(2), .sound-bar:nth-child(5), .sound-bar:nth-child(7), .sound-bar:nth-child(9) {
    animation-name: bar-scale-sm;
    animation-duration: 0.9s;
}
@keyframes bar-scale-sm {
    0%, 50% {
        transform: scaleY(1);
   }
    25% {
        transform: scaleY(6);
   }
    75% {
        transform: scaleY(4);
   }
}
@keyframes bar-scale-md {
    0%, 50% {
        transform: scaleY(2);
   }
    25% {
        transform: scaleY(6);
   }
    75% {
        transform: scaleY(5);
   }
}
@keyframes bar-scale-lg {
    0%, 50% {
        transform: scaleY(8);
   }
    25% {
        transform: scaleY(4);
   }
    75% {
        transform: scaleY(6);
   }
}
@keyframes bar-scale-xl {
    0%, 50% {
        transform: scaleY(1);
   }
    25% {
        transform: scaleY(7);
   }
    75% {
        transform: scaleY(11);
   }
}


.cursor-slider{
    width: 80px;
    height: 80px;
    font-size: 10px;
    background-color: #000000;
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    pointer-events: none;
    border-radius: 50%;
}

.cursor-drag{
    position: absolute;
    width: 150px;
    z-index: 4;
    display: none;
    pointer-events: none;
}